# A2 - Introdução à Ciência de Dados¶

Análise de dados de uma base de hotéis na Europa com 120 entradas.

As perguntas que analisaremos serão:

1. Qual a média de preço
2. Notas são consistentes entre as cidades?
3. Classificações mais altas resultam em notas mais altas?

## Preparação da Base

### Bibliotecas

In [6]:
import pandas as pd
import matplotlib.pyplot as plt

### Base

In [12]:
data = pd.read_excel("Hotels.xlsx", engine='openpyxl')
data

,ID,Hotel name,Price(BAM),Hotel star rating,Distance,Customer rating,Rooms,Squares,City
0,1,Europe,139,5,350,8.3,1,25,Sarajevo
1,2,Europe,187,5,350,8.3,2,40,Sarajevo
2,3,Hills,255,5,10000,8.5,3,42,Sarajevo
3,4,Hills,141,5,10000,8.5,2,42,Sarajevo
4,5,Boutique,117,4,450,8.7,1,15,Sarajevo
...,...,...,...,...,...,...,...,...,...
115,116,WUD Hotel,121,3,3200,8.9,2,40,Ljubljana
116,117,uHotel,161,4,250,9.0,1,28,Ljubljana
117,118,Allegro Hotel,106,4,550,8.5,1,35,Ljubljana
118,119,M Hotel,123,4,2400,8.4,1,31,Ljubljana
119,120,Austria Trend Hotel,137,4,3500,8.8,1,34,Ljubljana

## Qual a média de preço?

## Notas são consistentes entre as cidades?

## Classificações mais altas resultam em notas mais altas?